.preview .overlays
{
	z-index: 1000;
}
.draggable_overlay
{
	border: solid transparent 1px;
	background: url(/images/trans.gif); /* needed for dang IE, otherwise only selects on border edges */
	/*background-color: rgba(255,0,0,0.5);*/
}
/*
.draggable_overlay:hover
{
	border: solid #CCC 1px;
}
*/

.draggable_overlay .ui-resizable-handle
{
	background-image: none;
}

.preview_header
{
	z-index: 10000;
	position: absolute;
	top: -25px;
	height: 25px;
	padding: 5px 10px;
}
.tip
{
	color: #444;
	font-style: italic;
	margin-bottom: 5px;
	font-size: 10px;
}

#step_style div.style
{
	padding: 5px 2px;
}
#step_style .selected
{
	background-color: white;
	border: solid #AAA 1px;
	border-radius: 5px;
}

#DesignForm input[type=file]
{
	width: 275px;
}

#DesignForm .widget 
{
	background-color: #FFF; 
	border: solid 1px #AAA;
	color: black;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 250px;
}

#DesignForm .widget h3
{
	/*padding: 5px;*/
	margin:0;
	color: #fff;
	background-color:#a5d8f2;
	background: url("/css/cupertino/images/ui-bg_glass_50_3baae3_1x400.png");
	repeat-x scroll 50% 50% #3BAAE3;
    border: 1px solid #2694E8;
}
#DesignForm .widget > div
{
	/*padding: 5px;*/
	background-color:#a5d8f2;
}
#estimate_container{
	background-color:#a5d8f2 !important;
	border:1px solid #a5d8f2;
	overflow:auto;
	padding-bottom:5px;
}
#estimate_container_left{
	
	float:left;
	width:48%;
	border:none;
	text-align:center;
	vertical-align:bottom;
	padding-top:10px;
}
#estimate_container_right{
	float:left;
	width:48%
	border:none;
	text-align:center;
	border:1px solid 000;
}
hr.pricing_divider{
	height:2px;
	width:80%;
	color:#2694E8;
	border:1px solid #2694E8;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	
}
div.preview_option_quantity, div.preview_option_value{
	background-color:#fff;
	margin:5px;
	border-radius: 5px;
}
div.preview_option_text{
	margin:5px;
}

#DesignForm .ui-widget-content
{
	background: #A5D8F2;
}
#DesignForm .ui-slider,
#DesignForm .jcarousel_container
{
	background: white;
}

#DesignForm .DesignQuote,
#DesignForm .DesignPersonalization
{
	width: 280px;
}
#DesignForm .DesignQuoteAttribution
{
	width: 225px;
}

#DesignForm select.font
{
	width: 175px;
}
#DesignForm .ui-accordion .ui-accordion-content
{
	padding: 0.5em;
}
#DesignForm div.radio label
{
	margin-right: 10px;
	font-size: 12px;
}
#DesignForm .choose div.radio *
{
	font-size: 12px;
}
#DesignForm .step_personalization div.radio label
{
	margin-right: 0px;
}

#DesignForm .ui-accordion .ui-accordion-content
{
	overflow: visible;
	/* font dropdown, etc */
}

#DesignForm .QuoteStyle
{
	border: solid #CCC 1px;
	background-color: #FFF;
	padding: 5px 10px 5px 10px;
}

#DesignForm .QuoteStyle label
{
	padding-right: 15px;
}

#DesignForm .QuoteStyle img
{
	vertical-align: middle;
}

#waiting
{
	z-index: 9998;
	position: relative;
}

#waiting .ui-progressbar-value
{
	background-color: #FFF;
}

#waiting .progress
{
	z-index: 9999;
	width: 125px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	z-index: 9999;
	/* background-color: #6D9ACF; */
	background-color: #62BBE9;
	padding: 25px;

	font-size: 16px;
	font-weight: bold;
	text-align:center;
}
#waiting .progressbar
{
	height: 20px;
}

#waiting .ui-widget-overlay
{
	z-index: 9998;
}
/*
#DesignForm td
{
	vertical-align: top;
}
*/
.preview_wrapper
{
	position: relative;
	width: 400px;
}

.parts, .fullbleed
{
	position: absolute;
}

.tassel, .canvas_overlay, .overlay
{
	/*display:none;*/
}
.preview .ui-state-disabled
{
	opacity: 1;
}

.coord
{
}
.fullbleed .quote.coord,
.fullbleed .personalization.coord
{
	display: block;
}

.ui-draggable
{
	/*border: dashed #AAA 1px;*/
	cursor: move;
	border: dashed transparent 1px;
}
.ui-draggable-dragging
{
	border: dashed #AAA 1px;
	cursor: move;
}
.dynamic.hover
{
	border: dashed #AAA 1px;
}

.fullbleed .quote.selected,
.fullbleed .personalization.selected
{
	cursor: move;
}

.fullbleed .personalization 
{
	vertical-align: center;
	text-align: center;
}

.fullbleed .personalization p
{
}

.parts .product
{
	z-index: 0;
}

.parts .picture,
.fullbleed .quote,
.fullbleed .personalization 
{
	/*z-index: 50; messes up / supercedes overlay */
}
.parts .tassel { 
	z-index: 80;
}
.parts .charm { 
	z-index: 90;
}

.fullbleed .quote.center, .parts .personalization.center
{
	text-align: center;
}

.ghosted
{
	color: #999;
}

.ui-slider
{
	border-color: #AAA;
	height: 0.4em;
	margin: 1em;
}
.ui-slider .ui-slider-handle
{
	border-color: #AAA;
	background: url("/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png") repeat-x scroll 50% 50% #0073EA;
	cursor: move;
	width: 1em;/*0.7em;*/
	top: -0.5em;
}

#DesignForm .sp-palette-container
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: 0px;
}
#DesignForm .sp-container
{
	margin: 0px;
}
#DesignForm .sp-palette-row-selection
{
	display: none;
}
#DesignForm .sp-palette-row
{
	display: block;
	clear: both;
}

#DesignForm .sp-cf:before, .sp-cf:after
{
	content: none;
}
#options
{
	/*padding-top: 60px;*/
	width: 300px;
}
#preview_wrapper
{
	min-height: 700px;
	min-width: 400px;
}
#tabs
{
	margin-top: 25px;
}
#tabs ul
{
	margin: 0px;
	padding: 0px;
}
.ui-tabs#tabs .ui-tabs-panel
{
	padding: 1em 0.2em;
}
#DesignPricing{
	border: 3px solid #2694E8;
	border-radius: 5px;
	background-color:#a5d8f2;
	margin-bottom:5px;
	padding:0;
}
#DesignPricing .widget,
#proofOptions .widget,
#specialInstructions .widget
{
	margin:0 !important;
	border:none;
	background-color:#a5d8f2;
	border-radius: 5px;
}
#DesignPricing .widget h3{
	margin:0 !important;
	padding-left: 5px;
	border:none !important;
	color:#000 !important;
}
#DesignPricing #estimate_total
{
	font-size: 1.1em;
	font-weight: bold;
}
.estimate_retail{
	font-weight:bold;
	text-decoration:line-through;
}
#proofOptions, 
#specialInstructions{
	border: 3px solid #a5d8f2;
	border-radius: 5px;
	background-color:#a5d8f2;
	margin-bottom:5px;
	padding:0;
}
#specialInstructions textarea{
	border:1px solid #aaa;
	border-radius:5px;
}
#proofOptions .widget h3,
#specialInstructions .widget h3{
	margin:0 !important;
	padding-left: 5px;
	border:none !important;
	border-radius: 5px 5px 0 0;
	color:#000 !important;
}
#proofOptions .proofOptionsDetails{
	margin:5px;
}
.accordion
{
	/*width: 300px;*/
}

.accordion h3
{
	font-size: 13px;
}
.side
{
	/*margin-top: 40px;*/
}
#side2link, #side1link
{
	display: block;
	float: left;
	padding: 5px 5px 5px 25px;
}

.sidelabel
{
	float: right;

/*	background-color: #000;*/
}


.sidelabel.active
{
	color: black;
	/* background-color: white; */
	font-size: 1.2em;
	font-weight: bold;
}
.sidelabel.active h3
{
	margin-right: 5px;
}
.sidethumb
{
	margin-top: 3px;
}

.sidethumb img.thumb
{
	/*border: solid #999 2px;*/
}
.sidethumb h3
{
	margin-right: 5px;
	/*margin: 0 auto;*/
	padding: 2px 5px;
	/*width: 75px;*/
	/*text-align: center;*/
}

.sidecontrol
{
	text-align: right;
}
.sidethumb img.thumb
{
	width: 200px;
}

#DesignForm .sp-container
{
	border: 0px;
	background-color: transparent;
}
#DesignForm
{
	padding-top: 15px;
}
.sidegoto
{
	padding: 10px;
}

.fancyDropdown li
{
	font-size: 1.5em;
}
.fancyDropdown li.tk-century-old-style-std
{
	font-size: 1.25em;
}
.pricing_chart_small
{
	font-size: 10px;
	border-collapse: collapse;
	margin-top: 5px;
}
.pricing_chart_small th
{
	text-align: left;
	padding: 3px 1px 1px 3px;
	color: black;
}

.pricing_chart_small td
{
	border: solid #AAA 1px;
	background-color: #DDD;
	padding: 1px;
}
#DesignPricing td
{
	vertical-align: top;
}
#shipping_details
{
	margin-top: 10px;
}

#shipping_details th, #shipping_details td
{
	border: solid #AAA 1px;
}
#shipping_details th
{
	color: white;
	background-color: #2C4E83;
}
#DesignZipCode 
{
	text-align: right;
}

#shipping_details table
{
	border-collapse: collapse;
}

#DesignForm #Tips .Tips
{
	margin-top: 15px;
	font-size: 1.1em;
	width: 190px;
	border-radius: 5px;
	background-color: #D9ECF9;
	border: solid #7092A9 1px;
	/*
	position: absolute;
	top: 450px;
	right: 95px;
	*/
	padding: 5px;
	min-height: 150px;
}
#DesignForm #Tips ul,
#DesignForm #Tips ol
{
	margin-left: 0px;
}

#DesignForm #Tips h3
{
	font-size: 1.2em;
	font-weight: bold;
}
.zoomPictureContainer h3
{
	/*color: #B82A2A;*/
}
