div#mainWrapper
{
	float: left;
	width: 765px;
	padding-top: 94px;
	margin: 0 0 10px 0;

}

div#contentWrapper
{
	width: 544px;
	float: right;
	clear: none;

}

div#header
{
	position: absolute;
	top: 0;
	left: auto;
	right: auto;
}
div#title
{
	margin: 0;
	padding: 0;
	width: 544px;
}

div#main
{
	margin: 0;
	padding: 0;
	float: left;
	width: 380px;
}

div#leftbar
{
	margin: 0;
	padding: 0;
	float: left;
	width: 221px;
}

div#rightBar
{
	margin-top: 0px;
	float: right;
}

div#footer
{
	margin: 10px 0 0 0;
	clear: both;
}

.stretcher
{
	clear: both;
}
#bookmark
{
	width: 221px;
	background-image: url(/background-images/Bookmark-Rework.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 1px 0 0 0;
	margin: 0 0 10px 0;
}
#bookmark #bookBottom		
{
	width: 221px;
	height: 14px;
	background-image: url(/background-images/Bookmark-Rework-bottom.gif);
	margin: 0;
}
#bookmark #bookContents
{
	width: 166px;
	margin: 60px auto 14px 8px;
	padding: 0;
}
input#searchTerms
{
	width: 164px;
	margin: 0 auto 0 auto;
}
button#searchSubmit
{
	margin: 0 auto 0 auto;	
}

#productColumn .product
{
	float: left;
	font-size: 11px;
	text-align: center;
	width: 70px;
	height: 76px;
	margin: 0.5em 2px 1.5em 2px;
}