.topnav
{
	position: relative;
	z-index: 100;
}
.topnav ul 
{
  padding: 0;
  margin: 0;
  list-style: none;
}
.topnav li {
  float: left;
  position: relative;
  width: 10em;
}

.topnav li ul {
  position: absolute; 
  top: 1em;
  left: 0;
}


.topnav li.hide ul {
  display: none;
}

li > ul {
	top: auto;
	left: auto;
}

li:hover ul, li.over ul
{ 
	display: block !important; 
	background-color: red;
	z-index: 200;
}
