.dropdown_nav
{
	margin: 0px;
	/*position: absolute;*/
	z-index: 500;
	text-align: left;
}

.dropdown_nav td
{
	z-index: 1000;
}

.dropdown_nav, .dropdown_nav_submenu
{
	border-collapse: collapse;
	position: relative;
}

.dropdown_nav_submenu_products td
{
	/*width: 150px;*/
}

.dropdown_nav .dropdown_nav_button_left
{
	border-left: none;
}

.dropdown_nav td.dropdown_nav_button
{
	border-left: solid white 1px;
	position: relative;
	z-index: 100;
}

.dropdown_nav td
{
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	font-size: 12px;
	position: relative;
}

.dropdown_nav td a, 
.dropdown_nav td a:visited,
.dropdown_nav td a:link,
.dropdown_nav td a:active
{
	color: black;
	margin: 0px;
	text-decoration: none;
	display: block;
	padding: 5px 12px 5px 12px;
}

.dropdown_nav td a:hover
{
	text-decoration: underline;
}

.dropdown_nav_submenu_hidden
{
	display: none;
}

.dropdown_nav_submenu
{
	position: absolute;
	clear: both;
	z-index: 100;
	margin: 0px;
	padding: 1px;
}

.dropdown_nav_subbutton, .dropdown_nav_subbutton_top, .dropdown_nav_subbutton_left
{
	border: 0px;
	border-left: 0px;
	border-top: solid white 1px;
	margin: 0px;
	padding: 0px;
}
#dropdown_nav_submenu_gallery .dropdown_nav_subbutton a
{
	width: 200px;
}

.dropdown_nav_subbutton a
{
	display: block;
	width: 150px;
}

.dropdown_nav_subbutton_left
{
	border-top: solid white 1px;
	border-right: solid white 1px;
}

.dropdown_nav th
{
}
