#pricing_chart
{
	width: 100%;
}

#pricing_chart .product_spacer
{
	padding-top: 5px;
}

#pricing_chart .product_heading
{
	border: solid #CCC 1px;
	background-color: #FFFFAA;
	text-align: left;
	text-transform: uppercase;
}

#pricing_chart .pricing_title
{
	text-align: left;
	font-weight: bold;
}

#pricing_chart td, #pricing_chart th
{
	padding: 5px;
}

.next_step button, input.next_step
{
	font-size: 12px;
	font-weight: bold;
}

#next_step_primary 
{
	position: relative;
}

#next_step_secondary
{
}

#product_diagram
{
	float: left;
}

#more_info
{
	float: right;
}

#detail_content
{
}

.product_compare_sheet
{
	border-collapse: collapse;
}

.product_compare_sheet, .product_compare_sheet td, .product_compare_sheet th
{
	border: solid black 1px;
}

.product_compare_sheet .even
{
	background-color: #DEDEDE;
}
