html
{
	background-color: #FFFFEE;
}

body
{
	margin: 0 auto;
	font-size: 10pt;
	font-family: optima, verdana, arial, sans-serif;
}
body, a, td, th, div, span { font-size: 10pt; }

h1,h2,h3,h4,h5,h6
{
	color: #000000;
	font-family: optima, verdana, arial;
	font-weight: 400;
	margin: 0 0 5px 0;
}

h1 { font-size: 24pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
h4 { font-size: 13pt; }
h5 { font-size: 12pt; }
h6 { font-size: 11pt; }

a h1,a h2,a h3,a h4,a h5,a h6
{
	text-decoration: underline;
	color: #039; 
}

