#account_index 
{
}

#account_index li
{
	padding-bottom: 10px;
	margin-left: 15px;
}

.account_page_box
{
}

.account_page_box
{
	clear: both;
}

.account_page_box .account_page_task
{
	padding: 10px;
	float: left;
}

.account_page_box img
{
	vertical-align: middle;
	border: solid #ccc 1px !important;
}
