.product_table .itemDisplay { text-align: center; vertical-align: top; width: 200px; padding: 1.0em 0 1.0em 0; }
.product_table .itemDisplay a { text-decoration: none; }
.product_table a{text-decoration: none !important;}
.product_table .itemDisplay a:hover span { text-decoration: underline; }
.product_table .itemDisplay a:hover { text-decoration: none !important; }
.product_table .itemDisplay img { height: 94px; }
.product_table { background-color: #FFE; text-align: center; margin: 0 auto 1em auto; border: #CCC 1px solid; padding: 2px; }
/*.product_table { background-color: #FFE; text-align: center; margin: 0 auto 1em auto; padding: 2px; }*/
div.product_table{
	border: 1px solid #aaa;
}

.product_grid .title
{
	font-size: 14pt;
	font-weight: bold;
	/*color: #333399;*/
	color: #000;
}

